.allotedjobsbody{
    background-image: url("https://cdn.pixabay.com/photo/2019/04/01/12/48/time-4095294_1280.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
  }